<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.wanho.mapper.ProductTypeMapper">
  <resultMap id="BaseResultMap" type="net.wanho.model.ProductType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="TYPE_ID" jdbcType="INTEGER" property="typeId" />
    <result column="TYPE_NAME" jdbcType="VARCHAR" property="typeName" />
    <result column="TYPE_DESCRIPTION" jdbcType="VARCHAR" property="typeDescription" />
    <result column="PARENT_TYPE_ID" jdbcType="INTEGER" property="parentTypeId" />
  </resultMap>
</mapper>